
@{
    ViewData["Title"] = "ModelBindingInParameters";
}
<form method="post">
    <h1 style="font-size:35px; color:#333333">ModelBindingInParameters</h1>
    <input type="number" name="Number1" style="width:300px;height:35px" /><br />
    <select name="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select> <br />
    <input type="number" name="Number2" style="width:300px;height:35px" /><br />
    <input type="submit" value="Submit" />
</form>
